body {
    background-image: url("https://www.xmple.com/wallpaper/gradient-green-linear-blue-1920x1080-c2-adff2f-00ced1-a-210-f-14.svg");
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;

   
}

header {
    font-size: 30px;
    color: blue;
    background: grey;
    padding: 30px;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    border-style: dotted;
    border: 20px;
    
    
}

#game-instructions {
    background: lightyellow;
    margin-left: 200px;
    padding: 30px;
    margin-right: 200px;
}



h3 {
    background: lightcoral;
    padding: 20px;
    font-size: 30px;
    margin-left: 400px;
    margin-right: 400px
}
h4 {
    background: rgb(158, 128, 240);
    padding: 25px;
    font-size: 30px;
    margin-left:400px;
    margin-right: 400px;

}

h2 {
    
    color: rgb(155, 26, 101);
    font-size: 30px;
    padding: 20px;
    background: rgba(9, 2, 21, 0.37);
    margin-left: 400px;
    margin-right: 400px;

}

#crystal-1 {
    background-image: url("../images/diamond2.png");
    width: 150px;
    height: 150px;
    margin-left: 10px;
}

#crystal-2 {
    background-image: url("../images/stone.png");
    width: 150px;
    height: 150px;
}

#crystal-3 {
    background-image: url("../images/bluerock.png");
    width: 150px;
    height: 150px;
}
#crystal-4 {
    background-image: url("../images/greencrystal.png");
    width: 150px;
    height: 150px;
}