body {
    background-image: url("https://www.xmple.com/wallpaper/gradient-green-linear-blue-1920x1080-c2-adff2f-00ced1-a-210-f-14.svg");
    height: 100%;
    width: 100%;
   
}

header {
    font-size: 30px;
    color: blue;
    background: grey;
    width: 300px;
    padding: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

#game-instructions {
    background: lightyellow;
    width: 400px;
    margin-left: 10px;
    padding: 30px;
}

h3 {
    background: lightcoral;
    width: 100px;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    margin-left: 10px;

}
h4 {
    background: rgb(158, 128, 240);
    width: 120px;
    padding: 25px;
    text-align: center;
    font-size: 30px;
    margin-left: 10px;

}

h2 {
    
    color: rgb(155, 26, 101);
    font-size: 30px;
    width: 172px;
    padding: 20px;
    background: rgba(9, 2, 21, 0.37);
    margin-left: 10px;

}

#crystal-1 {
    background-image: url("../images/diamond2.png");
    width: 150px;
    height: 150px;
    margin-left: 10px;
}

#crystal-2 {
    background-image: url("../images/stone.png");
    width: 150px;
    height: 150px;
}

#crystal-3 {
    background-image: url("../images/bluerock.png");
    width: 150px;
    height: 150px;
}
#crystal-4 {
    background-image: url("../images/greencrystal.png");
    width: 150px;
    height: 150px;
}